header {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0;
}

h1 {
    color: var(--primary);
    font-weight: var(--extra-bold);
    font-size: 1.8rem;
    margin: 1.5rem 0;
    cursor: default;
}

.search-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    margin-bottom: 1rem;
}

.search-form > input {
    outline: none;
    border: none;
    background-color: var(--background-tint);
    font-size: 1.5rem;
    color: var(--type-color);
    letter-spacing: 0.1ch;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    transition: all var(--speed) var(--flow);
}

.search-form > input::placeholder {
    color: var(--type-dark-tint);
}

.search-form > button {
    outline: none;
    border: none;
    background-color: var(--primary-light);
    color: var(--type-color);
    letter-spacing: 0.1ch;
    font-size: 1.4rem;
    padding: 1rem;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    font-weight: var(--bold);
    cursor: pointer;
    transition: all var(--speed) var(--flow);
}

.filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter > span {
    text-decoration: none;
    color: var(--type-dark-tint);
    font-weight: var(--bold);
    padding: 0.2rem 1rem;
    margin-bottom: 0.3rem;
    cursor: default;
    border-radius: var(--radius);
    transition: all var(--speed) var(--flow);
    user-select: none;
}

.filter > span:hover {
    background-color: var(--background-tint);
}

.filter > span.active {
    background-color: var(--background-tint);
}
